header {
 background-color: #424874;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
   z-index: 1000;
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease; 
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo h1 {
  color: #F4EEFF;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #F4EEFF;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

nav a:hover {
  color: #DCD6F7;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #A6B1E1;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}